[alias]
	st = status
	br = branch
	rb = rebase
	co = checkout
	ci = commit
	brv = branch -v
	cb = rev-parse --symbolic-full-name --abbrev-ref HEAD
	gp = !git push --set-upstream origin HEAD:$(git cb)
	gup = !git fetch --prune origin && git rebase --autostash origin/$(git cb)
	bd = "!f() { git branch | fzf --query=\"$1\" --select-1 --exit-0 | xargs -r git branch -D; }; f"
	col = "!f() { git branch | fzf --query=\"$1\" --select-1 --exit-0 | sed 's/^[* ] //' | xargs -r git checkout; }; f"
	cor = "!f() { git branch --remotes | grep -v HEAD | sed 's|^[ ]*origin/||' | fzf --query=\"$1\" --select-1 --exit-0 | xargs -r git checkout; }; f"
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[push]
	default = upstream
[user]
	name = Qing Wu
	email = wiserfirst@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
	ff = only
[rebase]
	autoStash = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
